@tailwind base;
@tailwind components;
@tailwind utilities;
.row{
    @apply flex flex-wrap px-4 py-8 items-center gap-y-4
}
.btn{
    @apply bg-green-600 px-4 py-2 w-full rounded-lg text-white mt-2
}
.product .btn{
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn{
opacity: 1;
transform: translateY(0%);
}